<div class="card" style="width: 18rem;">   
  <div class="card-body">
    <h5 class="card-title">{{productoFicha.nombre}}</h5>
    <p class="card-text">{{productoFicha.descripcion}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{productoFicha.preMin}}</li>
    <li class="list-group-item">{{productoFicha.preMax}}</li>
    <li class="list-group-item">{{productoFicha.referencia}}</li>
  </ul>
  <!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>
