<div *ngIf="articuloCompleto">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="articuloCompleto.imgDescription" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{articuloCompleto.name}}</h5>
          <p class="card-text">{{articuloCompleto.description}}</p>
          <p class="card-text">Precio: {{articuloCompleto.price}}</p>

          <p class="card-text text-success" *ngIf="articuloCompleto.stock; else bloqueSinStock">Artículo en Stock</p>
          <ng-template #bloqueSinStock>
            <p class="card-text text-danger">Artículo sin Stock</p>
          </ng-template>
        </div>
      </div>
      <div class="card-body">
        <span class="card-link" (click)="volver()">Volver</span>        
      </div>
    </div>
  </div>
</div>
