<header>
  <app-cabecera></app-cabecera>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  
</footer>

<!--
  INSTALAR BOOTSTRAP

  COMPONENTE CABECERA
  COMPONENTE LISTADO HOMBRE
  COMPONENTE LISTADO MUJER
  COMPONENTE FICHA
  COMPONENTE DETALLE
  COMPONENTE 404

  SERVICIO
    GETALL(GENERO) -> TODOS LOS PRODUCTOS, POSIBILIDAD DE DEVOLVERLOS POR GENERO. SOLO VA A DEVOLVER LOS DATOS NECESARIOS PARA EL LISTADO.
                        nombre, imagen, precio
    GETBYID(ID) -> DEVUELVE UN PRODUCTO. Toda la información del producto

  INTERFACE
    Interface de productos

  CONFIGURAR LAS RUTAS
    RUTAS FIJAS
      MODA-HOMBRE
      MODA-MUJER
      404
    RUTAS VARIABLES
      /:ARTICULO
    
-->