.formulario-container {
  padding: 30px;
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.field {
  width: 200px;
  font-weight: bold;  
}
label {
  display: block;
}

.buttons {
  padding: 30px;
  /* display: flex;
  justify-content: flex-end; */
}

button {
  border: none;
  background-color: aqua;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}
