<header>
  <app-cabecera></app-cabecera>
</header>

<router-outlet></router-outlet>

<footer>
  CopyRight 2023
</footer>


<!--
NECESITO ROUTING
INSTALAMOS BOOTSTRAP

CABECERA
404
PAGINAS:
  FORMULARIO-PRODUCTO

  LISTADO
    FILTRO
    FICHA

INTERFACE
  PRODUCTO

SERVICIO
  PRODUCTOSERVICIO

PARA EL ALTA DE LOS PRODUCTOS USAREMOS LOS FORMULARIOS REACTIVOS

CAMPOS DEL FORMULARIO
NOMBRE DEL PRODUCTO: STRING REQUERIDO DE 15 CARACTERES MÁXIMO
DESCRIPCION: STRING REQUERIDO DE 20 CARACTERES MÁXIMO
PRECIO MINIMO: NUMERICO REQUERIDO
PRECIO MAXIMO: NUMERICO REQUERIDO
REFERENCIA: SON 8 CARACTERES Y LOS 3 PRIMEROS SON LETRAS Y EL RESTO NUMEROS

EL PRECIO MÍNIMO NO PUEDE SER MAYOR QUE EL PRECIO MÁXIMO

-->